<div class="container-fluid mb-3">
  <div class="doctors-nurses mx-auto">
    <h2 class="py-2">Doctors and Nurses</h2>
    <p>We take pride in recruiting the best Doctors and Nurses the state and city 
      has, because we believe that our patients and customers should be taken care by the best of brains, skills and experience</p>
  </div>
  <div class="doctors py-2">
    <img class="img-circle" src="./assets/images/Mask group.png" alt="" srcset="">
    <img class="img-circle" src="./assets/images/istockphoto-1357522266-170667a 1.png" alt="" srcset="">
    <img class="img-circle" src="./assets/images/Mask group (2).png" alt="" srcset="">
  </div>
  <h3 class="py-2">The best of the best Doctors and Nurses</h3>
  <div class="nurses py-2">
    <img src="./assets/images/Mask group (1).png" alt="" srcset="">
    <img src="./assets/images/nur 1.png" alt="" srcset="">
  </div>
</div>
