.container-fluid{
  padding-left: 60px;
}
li{
  list-style-type: none;
  text-decoration: none;
}
.nav-auth{
  display: flex;
  margin-left: auto;

}
.nav-auth li{
  padding: 15px 15px 0 5px;
  
}
.nav-link{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14.4px;
  line-height: 19px;
}
.register-button{
  margin-top: 4px;
  font-size: 14.4px;
  width: 9rem;
  height:35px;
  border-width:1px;
  color:#fff;
  border-color:transparent;
  font-weight: 400;
  border-radius: 20px;
  background:#0053BB;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}
.nav-link:hover{
  cursor: pointer;
}
img{
  width: 30px;
}

@media(max-width:991px){
  .nav-auth{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  
  }
  .nav-auth li{
    padding-top: 5px;
    
  }
  ul.nav-auth{
    margin: 0px;
    padding: 0px;
  }
  .nav-auth a{
    padding: 8px 0 8px 0;
  }
  .register-button{
    font-size: 12px;
    width: 9rem;
    height:25px;
    border-width:1px;
    color:#fff;
    border-color:transparent;
    font-weight: 400;
    border-radius: 15px;
    background:#0053BB;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
  }
  .container-fluid{
    padding-left: 20px;
  }
  img{
    width: auto!important;
  }
}