<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top"
    style="background-color: rgba(165, 165, 165, 0) ;" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">MedPharm</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="">Contact us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="">Doctors and Nurses</a>
                </li>
            </ul>
            <ul class="nav-auth">
                 <li class="nav-item">
                    <a class="nav-link active text-dark" routerLink="">Login</a>
                </li>
                <li>
                    <a class="pt-1 mb-4" href="">
                        <button class="register-button">Register</button></a>
                    </li>
            </ul>
               
        </div>
    </div>
</nav>