<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Medpharm</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarText">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
        <a class="nav-link" href="#">Services<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Contact us</a>
      </li>
    </ul>
  </div>
</nav>
<div class="content">
    <!-- column1 -->
    <div class="sign">
        <h2 class="mb-5">Bringing comfort and ease to your health at your finger tips</h2>
    <div class="login-form">
        <form name="form">
    <!-- email -->
    <div class="mb-4 form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" required minlength="3" maxlength="100" placeholder="your email@domaim.com" />
    </div>
    <!-- password -->
    <div class="mb-4 form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" required minlength="6" placeholder="&#9679; &#9679; &#9679; &#9679; &#9679; &#9679; &#9679; &#9679;"  />
    </div>
    <div class="button mb-5">
    <button class="btn">Login</button>
    </div>
    <div class="new-user d-flex">
        <p>Don't Have an Account?</p>
        <a href="signup" class="create">Sign Up</a>
    </div>
    
</form>
</div>
<div id="ellipse">
    <div class="footer">
        <div class="paragraph mt-3">
        <p>Get Started</p>
        </div>
        <div class="email">
        <input type="text" placeholder="your email">
        <button type="submit" class="mybutton" id="subscribe"> Subscribe</button>
    </div>
</div>
</div>
    </div>
    <!-- column2 -->
    <div class="image">
        <img src="/assets/signup.png" class="img-fluid" alt="signup">
    </div>
</div>
    </div>

