<div class="container-fluid">
<div class="header">
    <nav>
	<a href="" target="_blank" class="logo">MedPharm</a>
	<ul>
		<li><a href="">Services</a></li>
		<li><a href="">About</a></li>
		<li><a href="">Contact us</a></li>
	</ul>
    </nav>
</div>
<div class="content">
    <!-- column1 -->
    <div class="sign">
        <h2 class="mb-5">Bringing comfort and ease to your health at your finger tips</h2>
        <form name="form">
    <div class="login-form">
    <!-- email -->
    <div class="mb-4 input-field">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" required minlength="3" maxlength="100" placeholder="your email@domaim.com" />
    </div>
    <!-- password -->
    <div class="mb-4 input-field">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" required minlength="6" placeholder="&#9679; &#9679; &#9679; &#9679; &#9679; &#9679; &#9679; &#9679;"  />
    </div>
    <div class="button mb-5">
    <button class="btn">Login</button>
    </div>
    <div class="new-user d-flex">
        <p>Don't Have an Account?</p>
        <a href="signup" class="create">Sign Up</a>
    </div>
    <div id="ellipse">
    <div class="footer">
        <div class="paragraph">
        <p>Get Started</p>
        </div>
        <div class="email">
        <input type="text" placeholder="your email">
        <button type="submit" class="mybutton" id="subscribe"> Subscribe</button>
    </div>
</div>
</div>
</div>
</form>
    </div>
    <!-- column2 -->
    <div class="image">
        <img src="/assets/signup.png" class="img-responsive" alt="signup">
    </div>
</div>
    </div>

