.container-fluid{
    background-color: white;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.navbar{
  font-family: 'DM Sans';
  padding: 20px;
  margin: 0;
  background-color: #FFFFFF;
}

.header {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}


.header .logo {
	text-decoration: none;
	color: black;
	transition: 0.5s;
	transition-delay: 0.3s;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
}

.header ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header ul li {
	list-style: none;
	margin: 0 10px;
}

.header ul li a {
	padding: 5px 10px;
	text-decoration: none;
	color: black;
	transition: 0.5s;
	transition-delay: 0.3s;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}


.content {
    display: flex;
    justify-content: space-evenly;
}
.sign h2{
width: 500px;
height: 64px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 32px;
display: flex;
align-items: center;
padding-top: 40%;

}
.image img{
    width: 859px;
    height: 550px;
}

form{
    padding-top: 4%;
}

label{
    color: #000000;
    font-weight:bold;
}
.form-group input {
  padding-left: 20px;
    width: 402px;
    background: transparent;
    border: none;
    outline: none;
    color: #000000;
    border-bottom: 2px solid #d9eaf6;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
input{
    background: rgba(242, 249, 254, 1);
}
::placeholder{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
}

.btn{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 11px 60px;
    gap: 10px;
    color: #FFFFFF;
    background: #407BFF;
    border-radius: 25px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.create {
    background-color: transparent;
    color: #3541F8;
}

.bottom input{
    border: 5px solid rgb(233, 229, 229);
    background-color: white;
    border-radius: 20px;
    font-weight: bold;
}


.new-user p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.new-user a{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #3541F8;

}

.footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
    align-items: center;
    /* margin-left: 5px; */
}

input{
    width: 390px;
    padding-left: 20px;
    height: 46px;
    background: rgba(243, 243, 243, 1);
    border-radius: 25px;
    border: rgba(243, 243, 243, 1);
}

input:focus{
  outline: none;
}

.email{
  padding-left: 20px;
}

.mybutton{
    width: 140px;
    height: 46px;
    background: #407BFF;
    border-radius: 25px;
    position: absolute;
    left: 30%;
    border: rgba(243, 243, 243, 1);
    color: rgba(255, 255, 255, 1);
}


@media(max-width:480px){
  img{
    display: none;
  }
  .sign h2{
    width: auto;
    text-align: center;
    margin-bottom: 5% !important;
    padding-top: 10%!important;
  }
  .button{
    display: flex;
    justify-content: center;
  }

  .new-user{
    display: flex;
    justify-content: center;
  }
  .mybutton{
    width: 100px;
    height: 35;
    left: 75%;
  }
  .footer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .footer p{
    margin-top: 5px;
  }
  form{
    margin-left:auto;
  }
  .email input{
    max-width: 327px;
  }
  .form-group label{
    width: auto;
    padding-left: 20px;
  }
}

@media(max-width:768px){
  img{
    display: none;
  }
  .sign h2{
    width: auto;
    text-align: center;
    margin-bottom: 5% !important;
    padding-top: 10%!important;
  }
  .button{
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }

  .new-user{
    display: flex;
    justify-content: center;
  }
  .mybutton{
    width: 100px;
    height: 35;
    left: 75% !important;
  }
  .footer{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .footer p{
    margin-top: 5px;
  }
  form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .email input{
    max-width: 327px;
  }
  .form-group label{
    width: auto;
    padding-left: 20px;
  }
  .form-group input{
    width: 480px;
  }
}

@media(max-width:1024px){
  .image img{
    width: 600px;
    height: 400px;
    padding-top: 5%;
  }
  .sign h2{
    width: auto;
    text-align: center;
    margin-bottom: 5% !important;
    padding-top: 10%!important;
  }
  .button{
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }

  .new-user{
    display: flex;
    justify-content: center;
  }
  .mybutton{
    width: 100px;
    height: 35;
    left: 39%;
  }
  .footer{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .footer p{
    margin-top: 5px;
  }
  form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .email input{
    max-width: 327px;
  }
  .form-group label{
    width: auto;
    padding-left: 20px;
  }
  .form-group input{
    width: 480px;
  }
}