.container-fluid{
  background: #61166D;
  height: auto;
  /* position: absolute; */

}
.logo{
  color: #FFFFFF;
  position: absolute;
  margin-top: 30px;
  /* padding: 2%; */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}
.col-md-6{
  height: auto;
}

.nurse-panel {
  /* border: 3px solid blue; */
  padding: 10px 5px 0px;
  max-width: 640px;
  display: flex;
}
.nurse-icon {
    margin: 2px 3px 0 0;
    width: 45px;
    object-fit: contain;
    align-self: flex-start;
  }
.nurse-text {
    /* flex: 1 1 auto; */
    padding: 25px 8px 0 10px;
    color: #FFFFFF;
}
.panel{
  background: #FFFFFF;
  /* display: flex;
  flex-direction: column; */
  border-radius: 10px;
  height: auto;
  /* max-width: 610px; */
  padding: 20px;
}
.icon{
  align-self: center;
    
}
.card-header{
  display: flex;
}
.list-group-item{
  flex:1;
  display: flex;
}
.list-group-item span{
  margin-left: auto;
}
h3{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 24px;
}

.search{
  position: relative;
  /* box-shadow: 0 0 20px rgba(51, 51, 51, .1); */
  display: flex;
  
}

.search input{
  height: 37pxpx;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
  border-radius: 15px;
  flex:1;
  
}
.search input:focus{

  box-shadow: none;
  border: 2px solid #979CDF;


 }

 .search .fa-search{

  position: absolute;
  top: 18px;
  left: 16px;
 }
.medicines{
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}
.medication-container button{
  border-radius: 10px;
  width: 100px;
  margin: 5px;
}

.add-medicine{
  flex:1;
  text-align: center;
}
.show-content ::ng-deep .fc-daygrid.fc-dayGridMonth-view.fc-view {
  visibility: visible !important;
}
::ng-deep body .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events,
body .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-bg,
body .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-bg {
    display: none !important;
}
::ng-deep body .fc .fc-daygrid-day-top {
  line-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  margin: auto;
  border: 1px solid transparent;
  margin-top: 8px;
  border-radius: 6px;
  background: #ffffff;
  /* box-shadow: 0px 0px 6#039be54025); */
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 25%);
  border-radius: 10px;
}
::ng-deep .fc.fc-theme-standard .fc-view-harness td {
  border: none !important;
  /* background: #979CDF !important; */
  /* background: #fff !important; */
  
}
::ng-deep body .fc.fc-theme-standard .fc-view-harness th {
  border: none !important;
  background: #fff !important;
}
::ng-deep .fc.fc-theme-standard .fc-toolbar .fc-button:disabled {
  display: none;
}
::ng-deep .fc .fc-col-header-cell-cushion {
  padding: 10px 4px !important;
  background: #fff;
  /* box-shadow: 0px 2px 4px rgb(3 155 229 / 20%); */
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  border-radius: 5px;
  width: auto;
  height: 40px;
  margin: 12px auto;
  text-align: center;
}
::ng-deep .fc.fc-theme-standard a {
  font-size: 14.4px;
}
::ng-deep .fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
  /* background: #61166D; */
  /* box-shadow: 0px 0px 6px rgb(3 155 229 / 25%); */
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 25%);
  border-radius: 10px;
  padding: 32px 24px 20px 24px;
  margin-left: 10px;
}
/* ::ng-deep .fc.fc-theme-standard .fc-view-harness .fc-scrollgrid {
  border: none;
}
::ng-deep .fc-daygrid-day-top .fc-daygrid-day-number {
  color: inherit !important;
  font-size: 18px !important;
}
::ng-deep .fc .fc-button-group {
  visibility: hidden;
}
::ng-deep .fc.fc-theme-standard .fc-toolbar .fc-button {
  display: none;
} */
::ng-deep .fc.fc-scrollgrid{
  display: none;
}
::ng-deep .fc .fc-button-group {
  /* visibility: hidden; */
  background: #979CDF !important;
}
.dosage{
  display: flex;
  flex-direction: row;
}
.dosage h5{
  font-weight: 700;
   
}
.mr-auto{
  display: flex;
  margin-left: auto;
}
.mr-auto p{
  padding: 2px;
  font-weight: 600;
}
@media(max-width:480px){
  .container-calender{
    display: none;
  }
}


.bold{font-weight:bold;}
.time{position:absolute; left:-110px;}
.timeline-wrapper {
padding-left:80px;
min-width: 400px;
font-family: 'DM Sans';
font-size: 12px;
/*border: 1px solid #CCC;*/
}
.StepProgress {
position: relative;
padding-left: 45px;
list-style: none;
}
.StepProgress::before {
display: inline-block;
content: '';
position: absolute;
top: 0;
left: 15px;
width: 10px;
height: 100%;
border-left: 2px solid #CCC;
}
.StepProgress-item {
position: relative;
counter-increment: list;
}
.StepProgress-item:not(:last-child) {
padding-bottom: 40px;
}
.StepProgress-item::before {
display: inline-block;
content: '';
position: absolute;
left: -30px;
height: 100%;
width: 10px;
}
.StepProgress-item::after {
content: '';
display: inline-block;
position: absolute;
top: 0;
left: -37px;
width: 12px;
height: 12px;
border: 2px solid #CCC;
border-radius: 50%;
background-color: #FFF;
}
.StepProgress-item.is-done::before {
border-left: 2px solid green;
}
.StepProgress-item.is-done::after {
/*content: "?";*/
font-size: 10px;
color: #FFF;
text-align: center;
border: 2px solid green;
background-color: green;
}
/*.StepProgress-item.current::before { 
border-left: 2px solid green;
}
.StepProgress-item.current::after {
content: counter(list);
padding-top: 1px;
width: 19px;
height: 18px;
top: -4px;
left: -40px;
font-size: 14px;
text-align: center;
color: green;
border: 2px solid green;
background-color: white;
}*/
.StepProgress strong {
display: block;
}
.time{
  color: #9C9C9C;
}

.send-doctor{
  display: flex;
  align-items: center;
  justify-content: center;
}
.send-doctor button{
  padding: 4px 26px;
  gap: 10px;
  background: #61166D;
  border-radius: 12px;
  color: #FFFFFF;
}


.chat-section{
  width: 100%;
  height: auto;
  border: 1px solid #61166D;
  border-radius: 22px;
}

.chat{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: rgba(3, 3, 3, 0.73);
  width: 250px;
  border-radius: 10px;
  height: 42px;
}
.chat h5{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  display: flex;
  align-items: center;
}
.recipient{
  display: flex;
  flex-direction: column;
}
.recipient-msg{
  background: #D8DEED;
  border-radius: 0px 5px 5px 5px;
  width: 133px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipient-msg p{
  font-size: 9.26px;
  margin: 5%;
}
.recipient-name img{
  border: 1px solid black;
  
}
.sender-msg{
  width: 181px;
  background: rgba(231, 185, 238, 0.4);
  border-radius: 5px 0px 5px 5px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.sender-msg p{
  font-size: 9.26px;
  margin: 5%;
}
.write-msg{
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 15px 15px;
  display: flex;
  align-items: center;
}
.write-msg button{
  background: #61166D;
  border-radius: 15px;
  width: 93px;
  height: 38px;
  border: none;
}
textarea{
  resize: none;
  height: auto;
  background: #F8F8F8;
  border-radius: 0 15px;
  font-size: 15px;
}
textarea::placeholder{
  padding: 2%;
}
.send-doctor a{
  text-decoration: none;
}
@media (max-width: 768px){
  .col-md-5{
    overflow-y: hidden !important;
    width: 100%;
  }
  a{
    text-align: center !important;
  }
  .panel-heading, .container-calender{
    padding: 0px !important;
    max-width: 550px !important;
  }
}