<div class="container-fluid">
    <div class="grid-container">
        <div class="one">
        <h2>Medpharm</h2>
        <img src="/assets/doctor.png" class="img-fluid" alt="signup">
        </div>
        <div class="login-form">
            <form action="" class="container" >
            <h1 class="text-center">Welcome Doc!</h1>
            <!-- email field -->
            <div class="mb-4 input-field">
                <input type="text" class="form-control" name="email" required minlength="3" maxlength="100" placeholder="Email" />
                <i class="fa fa-envelope" aria-hidden="true"></i>

            </div>
            <!-- password -->
            <div class="mb-4 input-field">
                <input type="password" class="form-control" name="password" required minlength="6" placeholder="Password"  />
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
            <!-- remember -->
            <label class="enquire mb-5">
                <a class="rem" href="#"><input type="radio" name="radio" checked="checked" id="remember">Remember me</a>
                <a href="#">Forgot your password? </a>
            </label>
            <div class="mb-4 mx-auto">
                <button class="" type="button"><a href="">Login</a></button>
            </div>
            <div class="mb-4">
                <img src="/assets/med.png" class="image2 img-fluid float-right" alt="signup">
            </div>
            </form>
        </div>
        
    </div>
</div>