<div class="container-fluid">
    <!-- header -->
    <div class="navbar">
            <h1>MedPharm</h1>
            <div class="left">
            <p>You have an account?</p>
            <a href="">Login</a>
            </div>
    </div>
    <!-- main -->
    <div class="main">
        <img src="/assets/medbro.png" alt="" srcset="">
        <div class="leftside">
            <h2>Your basic information</h2>
        <form action="">
            <div class="right">
                <!-- one -->
        <div class="row">
        <div class="col">
            <label for="fName">First name</label>
            <input type="text" name="fName" id="fName" placeholder="David" required>
        </div>

        <div class="col">
            <label for="lName">Last name</label>
            <input type="text" name="lName" id="lName" placeholder="John" required>
        </div>
        
        </div>
        <!-- two -->
        <div class="row">
        <div class="col">
            <label for="email">Email</label>
            <input type="text" name="fName" id="fName" placeholder="Yakubu334@gmail.com" required>
        </div>

        <div class="col">
            <label for="No.">Phone Number</label>
            <input type="text" name="NO." id="No." placeholder="2349056723456" required>
        </div>
        </div>
        <!-- three -->
        <div class="row">
        <div class="col">
            <label for="rstate">Registered State</label>
            <input type="text" name="rstate" id="rstate" placeholder="Lagos" required>
        </div>

        <div class="col">
            <label for="No.">Registration Number</label>
            <input type="text" name="rNo" id="eNo" placeholder="NGA-3456-SD678" required>
        </div>
        </div>
            <h4>Pharmacy or Hospital info</h4>

        <div class="row">
            <div class="col">
            <label for="hospital">Hospital</label>
            <input type="text" name="hospital" id="hospital" placeholder=""  style="width: 400px;" required>
            </div>
        </div>
        <!-- four -->
        <div class="row">
        <div class="col">
            <label for="rstate">Address</label>
            <input type="text" name="" id="" placeholder="" required>
        </div>

        <div class="col">
            <label for="No.">Zip</label>
            <input type="text" name="" id="" placeholder="" style = "Width: 85px;" required>
        </div>
        <div class="col">
            <label for="No.">State</label>
            <input type="text" name="" id="" placeholder="" style = "Width: 85px;" required>
        </div>
        </div>
        <!-- five -->
            <h4>Choose your password </h4>
        <div class="row">
            <div class="col">
            <label for="">Password</label>
                <span class="far">Show</span>
    <input id="password" type="password" placeholder="&#9679; &#9679; &#9679; &#9679; &#9679;">
        </div>

        <div class="col">
            <label for="">Confirm Password</label>
                <span class="far">Show</span>
            <input type="text" name="" id="" placeholder="&#9679; &#9679; &#9679; &#9679; &#9679;" required>
        </div>
        </div>
        <div class="row">
            <div class="col">
                <span>Must contain atleast 8 letters</span>
                <span>Must Contain one Number</span>
                <span>Must Contain one Upper class</span>
            </div>
        </div>
<hr>
        <div class="row ">
            <div class="col">
                <div class="check">
            <input type="checkbox" name="" id="">
            <p>I agree I have read and compile with rules set down</p>
            </div>
            </div>
<div class="col">
    <button>Register</button>
</div>

        </div>
        </div>
        </form>
        </div>
    </div>
</div>