<div class="container py-4" id="#about">
    <div class="header">
    <h2>About us</h2>
    <p id="margin-auto-text-align">
        With the aim of providing solutions to health problems we came about medPharm
        which helps you track your drugs, book appointment with available doctors, 
        contact nurses when you are in need of medical attention swiftly.
    </p>
    <img src="./assets/about-us.png" class="img-responsive center-block d-block mx-auto w-25" alt="about-us">
    </div>
</div>
