<!-- <app-navbar></app-navbar>
<app-landing-page></app-landing-page>
<app-doctors-nurses></app-doctors-nurses>
<app-about></app-about>
<app-contact></app-contact>
<app-footer></app-footer> 
<app-doctor-dashboard></app-doctor-dashboard> 

<!-- main routes -->
<app-medpharm></app-medpharm>
<!-- <app-patient-login></app-patient-login>  -->
<!-- <app-nurse-dashboard></app-nurse-dashboard> -->
<!-- <app-patient-dashboard></app-patient-dashboard> -->
<!-- <app-admin-dashboard></app-admin-dashboard> -->




<!-- unused routes -->
<!-- <app-d-login></app-d-login> -->
<!-- <app-signup></app-signup> -->
<!-- <app-nurse></app-nurse>  -->
