
<section class="background-radial-gradient"> 
  <a href="" class="logo">MedPharm</a>
  <div class="container px-4 py-2 px-md-0 text-center text-lg-start my-1">
    <div class="row gx-lg-2 align-items-center mb-5">
      <div class="col-lg-5 mb-5 mb-lg-0" style="z-index: 10">
        
        <img src="./assets/images/Remedy-amico 1.png" alt="" srcset="">
      </div>

      <div class="col-lg-7 mb-5 mb-lg-0 position-relative">
        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <h2 class="text-center">Welcome!</h2>
            <form class="form-login" name="form" (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm" novalidate>
            <!-- {{f.value | json}} -->
            <!-- <div class="form-group">
              <div class="alert alert-danger" role="alert" *ngIf="f.submitted %% !f.form.valid">
                Incorrect Username or Password
              </div>
            </div> -->
              <div class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control" name="userId" placeholder="email or username"[(ngModel)]="form.userId" required #userId="ngModel"/>
                <div class="alert-danger" *ngIf="userId.errors && f.submitted">
                  <div *ngIf="userId.errors?.['required']">Email is required</div>
                  <div *ngIf="userId.errors?.['email']">
                    Email must be a valid email address
                  </div>
                </div>
              </div>
              <div class="form-outline mb-4">
                <input type="password" id="form3Example4" class="form-control" placeholder="password" name="password" [(ngModel)]="form.password" required  #password="ngModel"/>
                <div class="alert-danger" *ngIf="password.errors && f.submitted">
                <div *ngIf="password.errors?.['required']">Password is required</div>
                <div *ngIf="password.errors?.['minlength']">
                  Password must be at least 8 characters
                </div>
              </div>
              </div>
                <div class="row mb-4">
                  <div class="col d-flex ">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                      <label class="form-check-label" for="form2Example31"> Remember me </label>
                    </div>
                  </div>
    
                  <div class="col">
                    <a href="#!">Forgot password?</a>
                  </div>
                </div>
              <button type="submit" class="btn btn-login mb-4 text-light">
                Sign in
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
<ng-http-loader 
    [backdrop]="false"
    [backgroundColor]="'#979CDF'"
    [debounceDelay]="100"
    [extraDuration]="300"
    [minDuration]="300"
    [spinner]="spinnerStyle.skWanderingCubes">
</ng-http-loader>