.background-radial-gradient{
  background: #979CDF;
  height: auto;
  overflow-x: hidden;
}
.col-md-6{
 width: 100%;
}
h2{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36.625px;
  line-height: 48px;
  /* identical to box height */

  text-align: center !important;

  color: #37474F;
  padding-top: 10%;

}
.form-login{
  padding-top: 2%;
}

.card{
  height:92vh;
}
img{
  width: 88%;
  height: auto;
}
.form-control{
  background: rgba(234, 234, 234, 0.38);
  border-radius: 50px;
  width: 100%;
  margin-top: 40px;
}
.btn-login{
  background: #979CDF;
  border-radius: 21px;
  align-items: center;
  padding: 10px 50px;
  gap: 15px;
  color: #FFFFFF;
  position: relative;
}
.logo{
  position: absolute;
  margin-top: 10px;
  color: #FFFFFF;
  padding: 3%;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 24px;

}
@media(max-width:300px){
  .col-lg-7{
    padding: 2px auto;
  }
  .form-control{
    width: 100%;
  }
  img{
    display: none;
  }
}

@media(max-width:480px){
  .form-control{
    width: 100%;
  }
  img{
    display: none;
  }
}
@media(max-width:768px){
  .form-control{
    width: 100%;

  }
  img{
    display: none;
  }
}
