<div class="container">
    <div class="header">
    <h1>Health Ease At Fingertips</h1>
    <a href="" class="btn  mx-auto d-block">Get Started now</a>
    <div class="inner">
        <div class="policy d-flex text-light justify-content-between p-4">
            <p>Privacy Policy</p>
            <p>Terms and Conditions</p>
            <p>Cookie Policy</p>
            <div class="icons d-flex">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </div>
        </div>
    </div>
    </div>
</div>

