
  <div class="footer">
    <div class="footer-text">
      <h1>Health Ease <br> At Fingertips</h1>
      <button class="btn btn-start mb-4">Get Started Now</button>
    </div>
    <div class="footer-icons">
      <ul class="links p-3">
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Terms and Conditions</a></li>
        <li><a href="">Cookie Policy</a></li>
      </ul>
      <ul class="p-3 ml-auto social-icons">
        <li><a href=""><i class="fa fa-facebook"></i></a></li>
        <li><a href=""><i class="fa fa-instagram"></i></a></li>
        <li><a href=""><i class="fa fa-twitter"></i></a></li>
      </ul>
    </div>
  </div>