.container-fluid{  
  /* position: relative; */
  height: auto;
  width: 100%;
  margin-bottom: 0;
}
.footer-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: #002149;
}
.footer-text h1{
  margin: 50px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 68.66px;
  line-height: 89px;
}
.footer-text button{
  background: #FFFFFF;
  border-radius: 32px;
  padding: 16px 32px;
  margin-bottom: 10px;
  
}
.footer-text button:hover{
  transform: scale(0.98);
}
li{
  list-style-type: none;
  margin-left: 10px;
  color: #FFFFFF;
}
.footer-icons{
  display: flex;
  background:  #002C63;
  padding: 20px;
}
.links{
  display: flex;
  flex-direction: row;
}
.links li a{
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'DM Sans';
}
.social-icons{
  display: flex;
}
.social-icons li{
  padding-left: 20px;
  
}
.fa{
  color: white;
}
.links li a:hover{
  text-decoration: underline;
}

@media only screen and (max-width:480px){
  .footer-text h1{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 36px;
  }
  .footer-text button{
    background: #FFFFFF;
    border-radius: 32px;
    padding: 10px 28px;
    margin-bottom: 10px;
    
  }
  li{
    list-style-type: none;
    margin-left: 3px;
    color: #FFFFFF;
  }
  .links li a{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'DM Sans';
    font-size: 11px;
  }
}
@media only screen and (max-width:780px){
  .footer-text h1{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 36px;
  }
  .footer-text button{
    background: #FFFFFF;
    border-radius: 32px;
    padding: 10px 28px;
    margin-bottom: 10px;
    
  }
  li{
    list-style-type: none;
    margin-left: 3px;
    color: #FFFFFF;
  }
  .links li a{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'DM Sans';
    font-size: 11px;
  }
}