<!-- <div class="container-fluid landing">
  <div class="container">
    <div class="custom-shape-divider-top-1662850065">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
      </svg>
  </div>
    <div class="row">
      <div class="col-md-5">
        <div class="hero">
         
          <div class="intro-text">
            <h1>
              <span class="hear"> Health Ease </span> <br />
              <span class="connecting"> At Fingertips</span>
            </h1>
            <p>Bringing Comfort and ease to your health</p>
            <a class="btn btn-light works" href="#"><img src="./assets/images/Group 2.png" alt="" srcset="" width="30px" height="30px">How It Works</a>
          </div>
          
        </div>
      </div>
      <div class="col-md-7">
        <div class="i-frame">
          <div class="container her">
            <div class="row">
              <div class="col-sm-3">
                <div class="doctors">
                  <div class="doctors-text">
                    <img src="./assets/images/istockphoto-1193303828-170667a-removebg-preview 2.png" alt="" srcset="">
                    The best doctors
                  </div>                  
                </div>
              </div>
              <div class="col-sm-5 pt-3">
                <div class="digital">
                  <div class="digital-text p-3">
                    <h2><span class="hear"> Digital Health at </span> <br />
                      <span class="connecting"> its Peak</span>
                      <img src="" alt="" srcset="">
                    </h2>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="track">
                  <div class="track-text">
                    <img src="./assets/images/medicine 5.png" alt="" srcset="">
                    <p>Track your drugs</p> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div> -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-center">
            <h1 data-aos="fade-up"><span class="hear"> Health Ease </span> <br />
              <span class="connecting"> At Fingertips</span></h1>
            <h2 class="text-white" data-aos="fade-up" data-aos-delay="400">Bringing Comfort and ease to your health</h2>
            <div data-aos="fade-up" data-aos-delay="600">
              <div class="text-left text-lg-start">
                <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                  <span><a class="btn btn-light works" href="#"><img src="./assets/images/Group 2.png" alt="" srcset="" width="30px" height="30px">How It Works</a></span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
            <!-- <img src="./assets/images/medicine 5.png" class="img-fluid" alt=""> -->
              <div class="row">
                <div class="col-sm-3">
                  <div class="doctors">
                    <div class="doctors-text  d-inline-flex align-items-center justify-content-center align-self-center">
                      <img src="./assets/images/istockphoto-1193303828-170667a-removebg-preview 2.png" alt="" srcset="">
                   <span> The best doctors</span>  
                    </div>                  
                  </div>
                </div>
                <div class="col-sm-5 pt-3">
                  <div class="digital">
                    <div class="digital-text">
                      <h2><span class="hear"> Digital Health at </span> <br />
                        <span class="connecting"> its Peak</span><br>
                        <img src="./assets/images/pose_7.png" alt="" srcset="" width="30px" height="40%">
                      </h2>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="track">
                    <div class="track-text">
                      <img src="./assets/images/medicine 5.png" alt="" srcset="">
                      <p>Track your drugs</p> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
    </section><!-- End Hero -->