.flex-container{
  display:flex;
  background: #002149;
  top:88px;
  margin-top: 7%;
  height: 100vh;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  width: 100%;

}
/* .flex-container div{ */
  /* border: 1px solid #ccc; */
  /* padding: 10px; */
/* } */
.hero-text{
  flex:1;
  /* padding: 10px; */
 
}
.hero-text h1{
  margin: 0;
  font-size: 48px;
  /* font-weight: 700; */
  color: #FFFFFF;
  /* padding-top: 20%; */
  /* margin: 2px; */
  display: flex;
  
}
.hero-text h2{
  color: #FFFFFF;
  font-size: 14.4px;
  margin: 2px;
}
.hero-text a{
  width: 150px;
  padding: 10px;
  border-radius: 30px;
}
/* .hero-doctor{
 
}
.hero-digital{
 
}
.hero-tracker{
 
} */

.doctor{
  display: flex;
}
.custom-shape-divider-top-1662850065 svg {
  position: relative;
  display: block;
  width: calc(148% + 1.3px);
  height: 157px;
}

.custom-shape-divider-top-1662850065 .shape-fill {
  fill: #002E68;
}