.logo{
  margin: 3%;
  
}
.logo a{
  text-decoration: none;
  color: #000;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: #000;
}
.med-admin{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3%;
}
.search{
  position: relative;
  box-shadow: 0 0 20px rgba(51, 51, 51, .1);
  display: flex;
  
}

.search input{
  height: 37px;
  text-indent: 25px;
  border: 2px solid #EAEAEA;
  border-radius: 15px;
  flex:1;
  width: 336px;
  background: #EAEAEA;  
}
.search input:focus{
  box-shadow: none;
  border: 2px solid #EAEAEA;
}

.search .fa-search{
  position: absolute;
  top: 10px;
  right: 16px;
  color: #6069FD;
 }
 ::placeholder{
  color: #6069FD;
 }
 .reminder{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  background: #FCD878;
  border-radius: 8px;
  justify-content: space-evenly;
  padding: 6px;
 }
 .reminder img{
  width: 30px;
  height: auto;
 }
 .reminder p{
  margin: 5px;
 }
 .services{
  display: flex;
  justify-content: space-evenly;
  
 }
 .services-img img{
  width: auto;
  height: auto;
  
 }
 .services-img{
  height: 250px;
  width: 250px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
 }
 .services-img p{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 13.33px;
  line-height: 24px;
  color: #747CEF;
 }
 .hospital{
  background: #ABDDDF;
  display: flex;
  padding: 1%;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  width: auto;
 }
 .nearby{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 }
 .hospital-header{
  padding-left: 20px;
  display: flex;
  flex-direction: column;
 }
 h6{
  font-weight: 600;
 }
.pharmacists{
  display: flex;
  flex-direction: column;
  width: 303px;
  background: #FBFBFB;
  border: 1px solid #747CEF;
  border-radius: 20px;
}
.pharmacist{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20%;
  align-items: center;
}
.doctors{
  display: flex;
  justify-content: space-evenly;
}
.check{
  border: #747CEF !important;
}
.continue-button{
  display: flex;
  justify-content: flex-end;
}
.btn{
  background: #407BFF;
  border-radius: 5px;
  color: #FFFFFF;
  width: 195px;
  height: 46px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.btn:hover{
  transform: scale(0.98);
}
input[type=checkbox] {
  transform: scale(1.5);
  accent-color: #747CEF;
}
