<div class="container-fluid">
  <div class="logo d-flex">
    <a href="/">MedPharm</a>
    <a href="/" class="ml-auto">
      <button type="submit" class="btn btn-sm btn-block ml-auto logout" style="background-color:#FCD878;"(click)="logout()" type="button">Log Out</button>
    </a>
  </div>  
  <div class="med-admin py-4">
    <h1>Welcome Admin, <em>{{username}}</em></h1>
    
    <div class="search ml-auto">
      <input type="text" class="form-control" placeholder="Search">
      <i class="fa fa-search"></i>
    </div>    
  </div>
  <div class="reminder ml-auto mr-auto">
    <p>Drank water today?</p>
    <img src="./assets/images/water-bottle 1.png" alt="" srcset="">
  </div>
  <h2 class="text-center py-5">Services</h2>
  <div class="services py-2">
    <div class="services-img">
      <img src="./assets/images/hospital 2.png" alt="" srcset="">
      <p class="py-3">Hospitals</p>
    </div>
    <div class="services-img">
      <img src="./assets/images/pharmacy 1.png" alt="" srcset="">
      <p class="py-3">Pharmacy</p>
    </div>
    <div class="services-img">
      <img src="./assets/images/diagnosis 1.png" alt="" srcset="">
      <p class="py-3">Diagnosis</p>
    </div>    
  </div>
  <h2 class="text-center py-5">Nearby Pharmacy and Hospitals</h2>
  <div class="nearby">
    <div class="hospital mt-2">
      <img src="./assets/images/pharmacy 2.png" alt="" srcset="">
      <div class="hospital-header">
        <h6>Drug Point pharmacy  </h6>
        <p>32B YABA Tech Quaters, Aggrey...</p>
      </div>
    </div>
    <div class="hospital mt-2">
      <img src="./assets/images/pharmacy 2.png" alt="" srcset="">
      <div class="hospital-header">
        <h6>Sheba Pharmacy </h6>
        <p>9 University Road Akoka Yaba</p>
      </div>
    </div>
    <div class="hospital mt-2">
      <img class="mr-auto"src="./assets/images/pharmacy 2.png" alt="" srcset="">
      <div class="hospital-header">
        <h6>Mainland Hospital</h6>
        <p>Abule ijesha Road</p>
      </div>
    </div>
  </div>
    <h2 class="text-center py-5">Manage Staff</h2>
    <div class="services py-2">
      <div class="services-img">
        <img src="./assets/images/hospital 2.png" alt="" srcset="">
        <p class="py-3">Hospitals</p>
      </div>
      <div class="services-img">
        <img src="./assets/images/pharmacy 1.png" alt="" srcset="">
        <p class="py-3">Pharmacy</p>
      </div>   
    </div>
    <div class="doctors">
      <div class="pharmacists mt-5">
        <div class="pharmacist">
          <img class=""src="./assets/images/pharmacist 1.png" alt="" srcset="">
          <div class="pharmacist-header">
            <h6>Ph. Shade</h6>
            <p>phamacist</p>
          </div>
          <input type="checkbox" name="" id="">
        </div>
        <div class="pharmacist">
          <img class=""src="./assets/images/pharmacist 1.png" alt="" srcset="">
          <div class="pharmacist-header">
            <h6>Ph. Shade</h6>
            <p>phamacist</p>
          </div>
          <input type="checkbox" name="" id="">
        </div>
        <div class="pharmacist">
          <img class=""src="./assets/images/pharmacist 1.png" alt="" srcset="">
          <div class="pharmacist-header">
            <h6>Ph. Shade</h6>
            <p>phamacist</p>
          </div>
          <input type="checkbox" name="" id="">
        </div>
      </div>
      <div class="pharmacists mt-5">
        <div class="pharmacist" *ngFor="let user of users">
          
          <img class=""src="./assets/images/pharmacist 1.png" alt="" srcset="">
          <div class="pharmacist-header">
            <h6>{{user.userName}}</h6>
            <div  *ngFor="let item of user.roles">
            <p>{{item.name}}</p>
          </div>
        </div>
          <input type="checkbox" name="" id="">
        </div>
        <div class="pharmacist">
          <img class=""src="./assets/images/pharmacist 1.png" alt="" srcset="">
          <div class="pharmacist-header">
            <h6>Ph. Shade</h6>
            <p>phamacist</p>
          </div>
          <input type="checkbox" name="" id="" class="check">
        </div>
        <div class="pharmacist">
          <img class=""src="./assets/images/pharmacist 1.png" alt="" srcset="">
          <div class="pharmacist-header">
            <h6>Ph. Shade</h6>
            <p>phamacist</p>
          </div>
          <input type="checkbox" name="" id="" class="check">
        </div>
      </div>
    </div>
    <div class="continue-button ml-auto py-3">
      <button class="btn btn">Continue</button>
    </div>
    <div class="icon py-5 d-flex justify-content-center">
      <img src="./assets/images/istockphoto-1207358448-612x612-removebg-preview 7.png" alt="" srcset="">
    </div>  
</div>