<div class="container-fluid">
  <a href="" class="logo">MedPharm</a>
  <div class="row">
    <div class="col-md-5">
      <div class="doctor-panel panel-default">
        <img class="doctor-icon" src="./assets/images/13295328_5160427-removebg-preview 2.png" alt="" srcset="" width="45px" height="100%">
        <div class="doctor-text">
          <h6>Hi Dr.Shade,</h6>
          <p>{{ time | greetingTimer}}</p>
        </div>
        <div class="icon ml-auto">
          <img src="./assets/images/istockphoto-1207358448-612x612-removebg-preview 7.png" alt="" srcset="">
        </div>        
      </div>
      <div class="panel panel-heading">
        <h2 class="text-center py-3">Today's Work</h2>
        <div class="card mb-3">
          <div class="card-header bg-light">
            <h3>Schedule</h3> <span class="ml-auto"><i class="fa fa-bell fa-2x" style="color:#d1c12d;"></i></span>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio <span>2:00 pm</span> </li>
            <li class="list-group-item">Dapibus ac facilisis in <span>2:00 pm</span></li>
            <li class="list-group-item">Vestibulum at eros <span>2:00 pm</span></li>
            <li class="list-group-item">Cras justo odio <span>2:00 pm</span></li>
            <li class="list-group-item">Dapibus ac facilisis in <span>2:00 pm</span> </li>
            <li class="list-group-item">Vestibulum at eros <span>2:00 pm</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 py-2">
      <div class="panel panel-heading">
        <h2 class="text-center py-3 mt-5">Your Patient for today</h2>
        <div class="patient-details mx-auto">
          <form action="">
            <div class="form-group py-2">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="p_name">         
            </div> 
            <div class="form-group py-1">
              <label for="name">Occupation</label>
              <input type="text" class="form-control" id="occupation">      
            </div> 
            <div class="form-group py-1">
              <label for="name">iilness</label>
              <input type="text" class="form-control" id="illness">         
            </div> 
            <div class="form-group py-1">
              <label for="name">Dosage</label>
              <input type="text" class="form-control" id="dosage">         
            </div> 
            <button class="btn done-btn">Done</button>          
          </form>
        </div>
        <div class="send-details">
          <button class="btn send-btn">Send to Nurse</button> 
          <button class="btn track-btn">Tracker</button> 
        </div>
      </div>
    </div>
  </div>
</div>