<div class="container-fluid">
    <div class="header ml-auto mr-auto">
    <h2>Contact us</h2>
        <p id="margin-auto-text-align">
            If there is any need for enquiry or futher questions or tips on how we can improve
            our services you can reach us with that button below, we wont bite and we are 
            always available 
        </p>
  
</div>
    <div class="d-flex py-3">
        <!-- <div class="" style="max-width: 30%; margin-top: 15%;"> -->
            <div>
            <img src="/assets/contact1.png" class="img-responsive center-block d-block mx-auto" alt="about-us">
        </div>

        <!-- <div class="" style="max-width: 30%;margin-top: 2.5%;"> -->
            <div>
                <img src="/assets/contact2.png" class="img-responsive center-block d-block mx-auto" alt="about-us">
        </div>

        <!-- <div class="" style="max-width: 30%;margin-top: 10%;"> -->
            <div>
                <img src="/assets/contact3.png" class="img-responsive center-block d-block mx-auto " alt="about-us">
        </div>

        <!-- <div class="" style="max-width: 30%;margin-top: 25%;"> -->
            <div>
                <img src="/assets/contact4.png" class="img-responsive center-block d-block mx-auto" alt="about-us">
        </div>
    </div>
    <button class="btn btn-contact mx-auto d-block mt-5 mb-5">Contact Desk</button>
<!-- <button class="button mx-auto d-block mt-5">Contact Desk</button> -->
</div>
