/* .container {
    height: auto;
    background-color: white;
}

h2{
    text-align: center;
}

#margin-auto-text-align {
    width: 600px;
    margin: 20px auto;
    text-align: center;
}


.button
{
    text-align: center;
    width: 150px;
    padding: 5px;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    background-color: #002E68;
} */


.header{
    text-align: center;
    width: 881px;
}
h2{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 43.95px;
    line-height: 57px;
}
p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22.5px;
    line-height: 36px;
}
.d-flex{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}
button{
    background: #002E68;
    border: 1px solid #000000;
    border-radius: 32px;
    color: #FFFFFF;
    
}
button:hover{
    transform: scale(0.98);
    color: #FFFFFF;
}