<div class="container">
    <div class="header">
    <h2>Contact us</h2>
    <p id="margin-auto-text-align">
        If there is any need for enquiry or futher questions or tips on how we can improve
        our services you can reach us with that button below, we wont bite and we are 
        always available 
    </p>
    <div class="d-flex">
        <div class="" style="max-width: 30%; margin-top: 15%;">
            <img src="/assets/contact1.png" class="img-responsive center-block d-block mx-auto" alt="about-us">
        </div>

        <div class="" style="max-width: 30%;margin-top: 2.5%;">
                <img src="/assets/contact2.png" class="img-responsive center-block d-block mx-auto" alt="about-us">
        </div>

        <div class="" style="max-width: 30%;margin-top: 10%;">
                <img src="/assets/contact3.png" class="img-responsive center-block d-block mx-auto " alt="about-us">
        </div>

        <div class="" style="max-width: 30%;margin-top: 25%;">
                <img src="/assets/contact4.png" class="img-responsive center-block d-block mx-auto" alt="about-us">
        </div>
    </div>
    </div>
<button class="button mx-auto d-block mt-5">Contact Desk</button>
</div>
