/* .container {
    height: auto;
    background-color: white;
}

h2{
    text-align: center;
}

#margin-auto-text-align {
    width: 600px;
    margin: 20px auto;
    text-align: center;
}


.btn{
    text-align: center;
    width: 150px;
    padding: 5px;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    background-color: #002E68;
} */


.header{
    text-align: center;
    width: 881px;
}
h2{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 43.95px;
    line-height: 57px;
}
p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22.5px;
    line-height: 36px;
}
.d-flex{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}
button{
    background: #002E68;
    border: 1px solid #000000;
    border-radius: 32px;
    color: #FFFFFF;
    
}
button:hover{
    transform: scale(0.98);
    color: #FFFFFF;
}

@media(max-width:480px){
    h2{
        font-size: 30px;
    }
    p{
        width: auto;
        font-size: 18px !important;
    }
    .d-flex{
        display: flex;
        flex-direction: row;
        /* align-items: flex-end; */
        justify-content: space-between;
        /* flex-wrap: wrap; */
    }
    .d-flex img{
        max-height: 150px;
        max-width: 150px;
        padding: 5px;
    }
    .header{
        width: auto;
    }
}
@media(max-width:768px){
    h2{
        font-size: 35px;
    }
    p{
        width: auto;
        font-size: 18px;
    }
    .d-flex{
        display: flex;
        flex-direction: row;
        /* align-items: flex-end; */
        /* justify-content: space-between; */
        /* flex-wrap: wrap; */
    }
    .d-flex img{
        /* max-height: 200px; */
        max-width: 200px;
        padding: 5px;
    }
    .header{
        width: auto;
    }
}
@media(max-width:1024px){
    h2{
        font-size: 30px;
    }
    .header p{
        width: auto;
        font-size: 18px;
        line-height: 36px;
    }
    .d-flex{
        display: flex;
        flex-direction: row;
        /* align-items: flex-end; */
        justify-content: space-between;
        /* flex-wrap: wrap; */
    }
    .d-flex img{
        /* max-height: 300px; */
        max-width: 200px;
        padding: 5px;
    }
    .header{
        width: auto;
    }
}
@media(max-width:1200px){
    h2{
        font-size: 30px;
    }
    p{
        width: auto;
        font-size: 30px;
    }
    .d-flex{
        display: flex;
        flex-direction: row;
        /* align-items: flex-end; */
        justify-content: space-evenly;
        /* flex-wrap: wrap; */
    }
    .d-flex img{
        /* max-height: 300px; */
        max-width: 200px;
        padding: 5px;
    }
    .header{
        width: auto;
    }
}