<div class="container">
    
    <!-- <div class="div1 d-flex">
        <div class="margin-auto-text-align">
            <img src="/assets/Group 6.png" class="img-responsive center-block d-block mx-auto" alt="about-us">
            <p >Treatment</p>
            </div>
            <div class="div2"></div>
    </div> -->
<div class="inner mt-5">
        <div class="inner2">
            <p id="margin-auto-text-align">Services we Render</p>
            <p id="margin-auto-text-align2">Our services are broad, and we take 
                pride in giving a 5 star medical care to our customers </p>
        <div class="images pb-5">
        <div class="" style=" margin-top: 5%;">
            <img src="./assets/Stetoscope.png" class="img-responsive center-block d-block mx-auto" alt="about-us">
        </div>

        <div class="d-flex justify-content-between">

        <div class="" style="margin-top: 5%;">
            <img src="./assets/Bottle.png" class="img-responsive center-block d-block mx-auto" alt="about-us">
        </div>

        <div class="" style="margin-top: 5%;">
            <img src="./assets/bp.png" class="img-responsive center-block d-block mx-auto" alt="about-us">
        </div>
        
        </div>
        </div>
        </div>
    </div> 
</div>
