/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

:root {
  scroll-behavior: smooth;
}

body{
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  font-family: 'DM Sans'
  
}

html {
  scroll-behavior: smooth;
  
}