.container-fluid{
  background: #979CDF;
  height: 100vh;
}
.nurse-login{
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;

}
.col-md-7{
  height: 100vh;
}
.col-md-7 a{
  display: none;
}
.col-md-5 a{
  position: absolute;
  margin-top: 18px;
  color: #FFFFFF;
  padding: 3%;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 24px;

}
.col-md-5 img{
  width: 100%;
  height: auto;
  padding-top: 10%;
}
.nurse-login h2{
  text-align: center;
  display: flex;
  justify-content:center;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36.625px;
  line-height: 48px;
  color: #37474F;
  
}
.form-control{
  background: rgba(234, 234, 234, 0.38);
  border-radius: 50px;
  width: 550px;
  margin-top: 40px;
}
.btn-login{
  background: #407BFF;
  border-radius: 21px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 50px;
  gap: 15px;
}

@media(max-width:760px){
  .col-md-5 img{
    display: none;
  }
  .nurse-login{
    margin: 0px;
    background: #979CDF;
    color: white;
  }
  .col-md-7{
    padding: 0px;
    
  }
  .col-md-7 a{
    display: block;
    position: absolute;
    margin-top: 10px;
    color: #FFFFFF;
    padding: 2%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-left: 10px;
  }
  .nurse-login h2{
    color:white
  }

}
@media(max-width:1024px){
  .form-control{
    width:400px;
  }
}
@media(max-width:480px){
  .form-control{
    width:290px;
  }
}