<div class="container-fluid">
  <a href="" class="logo">MedPharm</a>
  <div class="row">
    <div class="col-md-5 px-4 py-5 ml-auto">
      <div class="nurse-panel panel-default">
        <img class="nurse-icon" src="./assets/images/13295328_5160427-removebg-preview 2.png" alt="" srcset="" width="45px" height="100%">
        <div class="nurse-text">
          <h6>Hi Nurse Shade,</h6>
          <p>{{ time | greetingTimer}}</p>
        </div>
        <div class="icon ml-auto">
          <img src="./assets/images/istockphoto-1207358448-612x612-removebg-preview 7.png" alt="" srcset="">
        </div>        
      </div>
      <div class="panel panel-heading">
        <h2 class="text-center py-3">Today's Work</h2>
        <div class="card">
          <div class="card-header bg-light">
            <h3>Schedule</h3> <span class="ml-auto"><i class="fa fa-bell fa-2x" style="color:#d1c12d;"></i></span>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio <span>2:00 pm</span> </li>
            <li class="list-group-item">Dapibus ac facilisis in <span>2:00 pm</span></li>
            <li class="list-group-item">Vestibulum at eros <span>2:00 pm</span></li>
            <li class="list-group-item">Cras justo odio <span>2:00 pm</span></li>
            <li class="list-group-item">Dapibus ac facilisis in <span>2:00 pm</span> </li>
            <li class="list-group-item">Vestibulum at eros <span>2:00 pm</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 px-4 py-5 mr-auto" style="height: auto;">
      <div class="panel panel-heading">
        <h2 class="text-center p-3">Your Patient for today</h2>
        <h3>Today's Medicines</h3>
        <div class="search py-2">
          <input type="text" class="form-control" placeholder="Search Medicines">
          <i class="fa fa-search"></i>
          <div class="add-medicine">
            <a href="#">
            <i class="fa fa-plus fa-2x" style="color:#FFFFFF; background-color: #095fdf; padding:0 5px 0 5px; border-radius: 8px;" ></i>
          </a>
          </div>
        </div>
        <div class="medication-container py-4 ">
            <ul class="medicines">
              <li><button class="btn btn-primary">Amoxil</button></li>
              <li><button class="btn btn-info">Piriton</button></li>
              <li><button class="btn btn-warning">Piriton</button></li>
              <li><button class="btn btn-danger">Coartem</button></li>
            </ul>
        </div>
        <!-- <h3>Tracker</h3> -->
        <div class="container-calender">
          <full-calendar [options]='calendarOptions' class="show-content"></full-calendar>
        </div>
        <div class="dosage p-3">
          <h5>Your dosage</h5>
          <div class="mr-auto">
            <p>Edit</p>
            <p>Add+</p>
          </div>
        </div>
        <div class="timeline-wrapper"> 
          <ul class="StepProgress">
            <!-- <li class="StepProgress-item is-done"></li> -->
                 <li class="StepProgress-item">
                     <div class="bold time">6:00 am</div> 
                     <div class="bold">Coartem</div>
                 </li>
                 <li class="StepProgress-item">
                     <div class="bold time">8:00 am</div> 
                     <div class="bold">Amoxil</div>
                     <!-- <div>Post a contest</div> -->
                 </li>
                 <li class="StepProgress-item current">
                     <div class="bold time">2:00 am</div> 
                     <div class="bold">Amoxil</div>
                 </li>
                 <li class="StepProgress-item">
                     <div class="bold time">10:00 am</div> 
                     <div class="bold">Vitamin-C</div>
                 </li>
             </ul>
         </div>
         <div class="send-doctor">
          <button class="btn btn">Send to Doctor</button>
         </div>
      
    </div>
  </div>
</div>